*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.section-1{
    background-color: white;
    color: black;
    padding: 40px 0px;
}
.section-1 .con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-1 .con h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 800;
}
.section-1 .con .p{
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}
.slider {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin: 20px 20px;
    border-radius: 8px;
}
.slide {
    min-width: 100%;
    height: 100%;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(108, 108, 112);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
}

.prev { left: 10px; }
.next { right: 10px; }

.employees{
    justify-content: center;
    align-items: center;
}
.employee {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-image: linear-gradient(rgb(1, 255, 252) 0%, rgb(2, 96, 119) 100%);
    height: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 80px 0px 80px 0px;
    margin: 10px 0px;
}
.employee .employee-img{
    max-width: 60%;
    max-height: 70%;
}
.employee h3{
    font-weight: 800;
}
.employee p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}


/* medium and up: half width */
@media (min-width: 768px) {
    .slider {
        width: 50%;
    }
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
}



@media (max-width:760px) {
    .section-1 .con h2{
        font-size: 40px;
    }
    .section-1 .con p{
        font-size: 14px;
    }
}
@media (max-width:480px) {
    .section-1 .con h2{
        font-size: 20px;
    }
}