     /* global css */
    *{
        padding: 0px;
        margin: 0px;
        border: none;
        cursor:context-menu;
    }

    /* styling blocks  */
 .sect-1{
        background-color:black;
        color: white;
        min-height: 500px;
    }
    .sect-1 .content{
        padding: 40px 0;
        align-items: center;   
    }

    .sect-1 .content .imag {
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
    }

    .sect-1 .content .imag img {
        width: 100%;
        height:400px;
        display: block;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .sect-1 .content .imag:hover img {
        transform: scale(1.05);
    }
/* section 2 */
    .sect-2{
        background-color: black;
        padding: 40px 0px;
    }
    .sect-2 .content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sect-2 .form{
        background-color: transparent;
        padding: 15px;
        border: 1px white solid;
        border-radius: 30px;
    }
    .sect-2 .form input ,.sect-2 .form textarea{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        
    }
    .sect-2 .form .quotation-btn{
                        background-color: rgb(191, 5, 5);
                        color: white;
    }
        .sect-2 .form .quotation-btn:hover{
            background:linear-gradient(green,black);
}

/* footer */
            .rights{
                background-color: rgb(191, 5, 5);
                color: white;
            }
            .rights hr{
                padding: 2px;
                background-color: red;
                color: aqua;
            }
@media (max-width: 760px) {
    .container{
        padding-right: 0px;
        padding-left: 0px;
    }
    .sect-1 .imag img{
            height: auto;
    }
    .sect-1 .content .detail{
        margin: 20px 5px;
    }
}
