    /* global css */
    *{
        padding: 0px;
        margin: 0px;
        border: none;
        cursor:context-menu;
        /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    }
    .hh-hr{
        margin: 0px;
        color: aquamarine;
    }

    .card-anime {
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        transition: transform 0.35s ease, box-shadow 0.35s ease;
        opacity: 0;
        transform: translateY(30px);
    }

    .card-anime.show {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.6s ease, transform 0.6s ease;
    }
    .card-anime:hover {
        transform: scale(1.05);
        box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    }
    .btn{
        transition: transform 0.5s ease, box-shadow 0.3s ease;
    }

    .btn:hover {
        transform: scale(1.03);
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }
    .img,.i{
        object-fit: cover;
    transition: transform 0.4s ease;
    }

    .img:hover,.i:hover {
        transform: scale(1.2); 
    }

    .scroll-fade-up {
        opacity: 0;
        transform: translateY(60px);
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    }

    /* delay for h2 */
    .scroll-fade-up.delay {
        transition-delay: 0.2s;
    }

    /* visible state */
    .scroll-fade-up.show {
        opacity: 1;
        transform: translateY(0);
    }
/* there in the top is global css contains animations hover and etc */
    /* styling blocks  */
        .header{
            height: 110px;
            width: 100%;
            background-color: black;
            display: flex;
            /* align-items: center;
            justify-content: space-between; */
        }
        .nav-head{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .logo{
            width: 100px;
        }
        .search i{
            display: flex;
            justify-items: flex-end;
            justify-self: end;
        }
    
        /* navigation bar  */
        .nav{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            margin: 10px 0px;
            }
            .nav .nav-link{
            font-weight: 800;
            font-size: 14px;
            cursor: pointer;
            }
            .dropdown-item{
                cursor: pointer;
                padding: 10px;
                margin: 3px;
                border-radius: 30px;
            }
            .dropdown-menu{
                display: none;
                box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
            }
            .dropdown:hover .dropdown-menu{
                display: block;
            }
    /* section-1  */
        .sec-1{
            height: 550px;
            filter: grayscale(5px);
            background-image: url(../images/sec1-bg.jpeg);
            background-repeat: no-repeat;
            display: flex;
            align-items: end;
        }
        .wel{
            flex-direction: column;
            margin-bottom: 25px;
            p{
                display: flex;
                justify-content: center;
                align-content: center;
                font-size: 80px; 
                font-weight: 700;
                line-height: 1em;
                color: white;
            }
            .wel-btn{
                display: flex;
                justify-content: center;
                align-content: center;
            }
            .start-btn{
                background-color: rgb(191, 5, 5);
                border: none;
                padding: 10px 40px;
                font-weight: 600;
                transition: all 0.5s linear;
            }
            .start-btn:hover{
                background-color: aqua;
                color: black;
                border: none;
            }
        }


/* section 2  */
        .sec-2{
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            min-height: 800px;
            background-image: url(../images/sec2-bg.jpeg);
            background-position: center;
            background-size: cover;
            color: white;
            padding: 10px;
        }
        .sec-2 .content{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    .small-spill{
        width: fit-content;
        margin-bottom: 20px;
    }
    .small-spill ul li{
        list-style: none;
        width: fit-content;
    }
        .sec-2 h2{
            font-size: 60px;
            font-weight: 800;
        }
        .sec-2 .cards {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .cards .card{
            height: 100%;
            padding: 7px;
            margin-top: 10px;
            border-radius: 20px;
            color: black;
            .icon{
                width: fit-content;
                padding: 10px;
                border-radius: 50%;
                background-color:rgb(0, 0, 0);
                color: rgb(7, 255, 7);
            }
        }
/* section 3 */
        .sec-3{
            width: 100%;
            background-color: black;
            color: white;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
            display: flex;
            align-items: center;
            min-height: 500px;
        }
        .sec3-head h2{
                font-size: 35px;
            }
        .sec3-cards{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .card{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-radius: 20px;
                border: solid 1px;
                background-color: transparent;
            }
            .card:hover{
                background-color: rgb(12, 189, 189);
                border: none;
                transform: scale(1.1);
            }
        }
/* section 4  */
            .sec-4{
                display: flex;
                align-items: center;
                min-height: 700px;
                border-top: solid 1px;
                border-top-left-radius: 50px;
                border-top-right-radius: 50px;
            }
            .sec-4 .row{
                display: flex;
                align-items: center;
            }
            .sec4-head h2{
                font-size: 60px;
                line-height: 1em;
            }
    .get-btn{
        background:linear-gradient(green,black);
        font-size: 15px;
    }
/* section 5  */
            .sec-5{
                display: flex;
                align-items: center;
                min-height: 800px;
                background-color: black;
                color: white;
                padding-top: 20px;
            }
            .sec-5 .head{
                font-size: 60px;
                line-height: 1em;
            }
            .sec-5 .cards{
                display: flex;
                justify-content: center;
            }
            .sec-5 .card-1{
                background-color: rgb(51, 224, 51); 
                button{
                    background-color: black;
                    color: white;
                    width: 120px;
                }
            }
            .sec-5 .card-1:hover{
                background-color: rgb(12, 189, 189);
            }
            .sec-5 .card-2{
                color: white;
                background-color: black;
                button{
                    background-color: white;
                    color: black;
                    width: 120px;
                }
            }
            .sec-5 .card-2:hover{
                background-color: rgb(56, 55, 55);
            }
            .sec-5 .card-3{
                background-color: white;
                color: black;
                button{
                    background-color: black;
                    color: white;
                    width: 120px;
                }
            }
            .sec-5 .card-3:hover{
                background-color: rgb(194, 63, 63);
            }
/* section 6 */
            .sec-6{
                background-color: transparent;
                min-height: 600px;
                display: flex;
                align-items: center;
            }
            .sec-6 .content{
                display: flex;
                align-content: center;
                justify-content: center;
            }
            .content .image img{
                min-width: 300px;
                max-height: 400px;
                border-radius: 20px;
            }
            .content .image img:hover{
                border: none;
            }
            .sec-6 .description{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .sec-6 .icons{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
/* section 7  */
            .sec-7{
                background-image: linear-gradient(rgb(1, 255, 252) 0%, rgb(2, 96, 119) 100%);
                color: white;
                min-height: 300px;
                display: flex;
                align-items: center;
                padding: 20px 0px;
            }
            .sec-7 .content{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .sec-7 .content h2{
                font-size: 50px;
                font-weight: 800;
            }
/* section 8  */
            .sec-8{
                min-height: 600px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: black;
            }
/* footer */
            .rights{
                background-color: rgb(191, 5, 5);
                color: white;
            }
            .rights hr{
                padding: 2px;
                background-color: red;
                color: aqua;
            }
        @media (max-width: 760px) {
            .sec-1{
                height: 300px;
            }
            .wel{
                p{
                font-size: 27px;
                }
            }
            .sec-2 h2{
                font-size: 30px;
            }
            .sec3-head h2{
                font-size: 20px;
            }
            .sec4-head .h2{
                font-size: 30px;
            }
            .sec-5 .head{
                font-size: 30px;
            }
            .sec-6 .image img{
                min-width: 100px;
            }
            .sec-8{
                min-height: 300px;
                width: 100%;
                padding: 10px;
            }
        }

        /* animations */

        
